.title{
  text-align: left;
  font-variant: all-small-caps;
  letter-spacing: 2px;
  color: #8D2020;
}
.add-btn{
  background-color: #8D2020;
  color: white;
  border-radius: 5px;
  height: 40px;
  border: none;
  margin: 5px;
}
.add-btn-metric{
  width: 200px;
  background-color: #8D2020;
  color: white;
  border-radius: 5px;
  height: 40px;
  border: none;
  margin: 2px;
  margin-left: 15px;
  margin-bottom: 10px;
}
.metric,
.table,
.uninstall{
  margin-top: 0px;
}

#pdfMetric {
  padding: 100px;
}

#pdfMetric li {
  font-size: 36px;
}

#pdfMetric h1 {
  font-size: 48px;
}
