<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="container">
  <div class="row top-buffer">
    <div class = "col leftalign">
      <div class="header">
        <button type="button" class="add-btn" (click)="navigateBack()">←</button>
        <h1 style="text-align:left;font-family:Verdana;font-variant:small-caps;letter-spacing:2px;color:#A40808;">{{'COMPUTER.DETAILS.TITLE' | translate}}</h1>
      </div>
    </div>
  </div>
  <div class="row top-buffer">
    <div *ngIf="selectedComputer; else notFound">
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item">{{'COMMON.NAME' | translate}}: {{selectedComputer.name}}</li>
          <li class="list-group-item">{{'COMMON.LOCATION' | translate}}: {{selectedComputer.location}}</li>
          <li  class="list-group-item">{{'COMPUTER.ISMULTIUSER' | translate}} {{selectedComputer.isMultiuser ? ("COMMON.TRUE" | translate) : ("COMMON.FALSE" | translate)}}</li>
          <!---<li *ngIf=" this.selectedComputer.isMultiuser" class="list-group-item">{{'COMPUTER.DISP_USERS' | translate}} {{selectedComputer.usersOfComputer}}</li>-->
          <li class="list-group-item">{{'COMMON.KEEPER' | translate}}: {{this.usersS.toString()}}</li>
          <li class="list-group-item">{{'COMMON.NOTE' | translate}}: {{selectedComputer.description}}</li>
          <li *ngIf = "this.tokenStorage.getAuthorities().includes('ROLE_SUPER_ADMIN')" class="list-group-item"><button  class = "add-btn" (click)="open(otherContent)">{{'COMMON.EDIT' | translate}}</button></li>
          <li class="list-group-item"><button class="btn add-btn" (click)="downloadMetric(selectedComputer.name || '')">{{'PDF.DOWNLOAD' | translate}}</button></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row top-buffer metric">
    <div class="col leftalign">
      <div class="header">
        <h1 style="text-align:left;font-family:Verdana;font-variant:small-caps;letter-spacing:2px;color:#A40808;">{{'COMMON.METRICS' | translate}}</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <button class="add-btn-metric" (click)="openModal(content)">{{'COMPUTER.DETAILS.ADD_METRIC_RECORD' | translate}}</button>
  </div>
  <div class="row uninstall">
    <button class="add-btn-metric" (click)="openModal(uninstall)">{{'COMPUTER.DETAILS.ADD_METRIC_RECORD_U' | translate}}</button>
  </div>
  <div class="row top-buffer table" style="margin: 0px;">
    <app-table-metrics [licOrComp]="'comp'" ></app-table-metrics>
  </div>
</div>

<ng-template #notFound>
  {{'COMPUTER.DETAILS.ERROR_LOAD' | translate}}
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'ADD_METRIC_RECORD.TITLE' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addMetricRecordForm" class="add-license-form">

      <div class="form-group">
        <label>{{'COMMON.LICENCE' | translate}} </label>
        <select formControlName = "type" class="form-control" formControlName="licenseId">
          <option *ngFor = "let licence of licenseList" [value] = licence.id>
            {{licence.name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>{{'COMMON.INSTALLATION_DATE' | translate}} </label>
        <input type="date" class="form-control"  formControlName="installDate">
      </div>
      <div class="form-group">
        <label>{{'COMMON.WHO_INSTALLED' | translate}}? </label>
        <select [(ngModel)] = 'this.loggedAdmin' (change)="this.log($event)"  class="form-control" formControlName="whoInstalled">
          <option selected  *ngIf = "tokenStorage.getAuthorities().includes('ROLE_ADMIN') && tokenStorage.getAuthorities().length == 1" disabled>{{this.loggedAdminCopy}}</option>
          <ng-container *ngIf = "tokenStorage.getAuthorities().includes('ROLE_SUPER_ADMIN') || tokenStorage.getAuthorities().length == 2">
            <option *ngFor = 'let user of users' [value]="user.name + ' ' + user.surname "  [defaultSelected]="user?.name === logged?.name">{{user.name + ' ' + user.surname}}</option>
          </ng-container>

        </select>
      </div>
      <div class="form-group">
        <ng-container *ngIf = "tokenStorage.getAuthorities().includes('ROLE_ADMIN') && tokenStorage.getAuthorities().length == 1">
          <label>{{'COMMON.WHO_AGREED' | translate}}? </label>
          <input [readOnly]="true"    class="form-control" formControlName="whoAgreed"[(ngModel)]="this.empty" />
        </ng-container>
        <ng-container *ngIf = "tokenStorage.getAuthorities().includes('ROLE_SUPER_ADMIN') || tokenStorage.getAuthorities().length == 2">
          <label>{{'COMMON.WHO_AGREED' | translate}}? </label>
          <select  class="form-control" formControlName="whoAgreed" >
            <option *ngFor = 'let user of admins' [value]="user.name + ' ' + user.surname "  [defaultSelected]="user?.name === logged?.name">{{user.name + ' ' + user.surname}}</option>
          </select>
        </ng-container>
      </div>

      <div class="form-group">
        <label>{{'COMMON.NOTE' | translate}}</label>
        <textarea type="text" class="form-control" placeholder="{{'COMMON.NOTE' | translate}}" formControlName="description"></textarea>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" [disabled]="addMetricRecordForm.invalid" (click)="addMetric()">{{'COMMON.ADD' | translate}}</button>
  </div>
</ng-template>



<ng-template #otherContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title1">{{'COMPUTER.EDIT' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editComputerForm" class="add-license-form">
      <div class="form-group">
        <label>{{'COMMON.NAME' | translate}}: </label>
        <input type="text" class="form-control" [(ngModel)] = "this.N" formControlName="name">
      </div>
      <div>
        <label>{{'COMMON.LOCATION' | translate}}</label>
        <input type="text"  [(ngModel)] = "this.L"  class="form-control"  formControlName="location">
      </div>
      <div class="form-group">
        <label>{{'COMMON.NOTE' | translate}} </label>
        <textarea type="text" [(ngModel)] = "this.D"  class="form-control" formControlName="description"></textarea>
      </div>
      <div class="form-group">
        <label>{{'COMPUTER.IS_MULTIUSER' | translate}}?</label>
          <input type="checkbox"  [(ngModel)] ="this.isChecked"   formControlName="isMultiuser">
      </div>
      <!--<div class="form-group">
        <label>{{'COMPUTER.USERS' | translate}}</label>
          <textarea class="form-control" [(ngModel)] = "this.U"   formControlName="users"></textarea>
      </div>-->
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn add-btn" [disabled]="editComputerForm.invalid" (click)="editComputer()">{{'COMMON.EDIT' | translate}}</button>
  </div>
</ng-template>



<ng-template #uninstall let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'ADD_METRIC_RECORD.TITLE' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addMetricRecordFormUninstall" class="add-license-form">

      <div class="form-group">
        <label>{{'COMMON.LICENCE' | translate}} </label>
        <select (change)="this.log($event)" formControlName = "type" class="form-control" formControlName="licenseId">
          <option *ngFor = "let licence of licenseList" [value] = licence.id>
            {{licence.name}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>{{'COMMON.UNINSTALLATION_DATE' | translate}} </label>
        <input (change)="this.log($event)" type="date" class="form-control"  formControlName="uninstallDate">
      </div>

      <div class="form-group">
        <label>{{'COMMON.WHO_UNINSTALLED' | translate}}? </label>
        <select [(ngModel)] = 'this.loggedAdmin' (change)="this.log($event)"  class="form-control" formControlName="whoUninstalled">
          <option selected  *ngIf = "tokenStorage.getAuthorities().includes('ROLE_ADMIN') && tokenStorage.getAuthorities().length == 1" disabled>{{this.loggedAdminCopy}}</option>
          <ng-container *ngIf = "tokenStorage.getAuthorities().includes('ROLE_SUPER_ADMIN') || tokenStorage.getAuthorities().length == 2">
            <option *ngFor = 'let user of users' [value]="user.name + ' ' + user.surname "  [defaultSelected]="user?.name === logged?.name">{{user.name + ' ' + user.surname}}</option>
          </ng-container>

        </select>
      </div>
       <div class="form-group">
         <ng-container *ngIf = "tokenStorage.getAuthorities().includes('ROLE_ADMIN') && tokenStorage.getAuthorities().length == 1">
           <label>{{'COMMON.WHO_AGREED' | translate}}? </label>
           <input [readOnly]="true"    class="form-control" formControlName="whoAgreed"[(ngModel)]="this.empty" />
         </ng-container>
         <ng-container *ngIf = "tokenStorage.getAuthorities().includes('ROLE_SUPER_ADMIN') || tokenStorage.getAuthorities().length == 2">
           <label>{{'COMMON.WHO_AGREED' | translate}}? </label>
           <select  class="form-control" formControlName="whoAgreed" >
           <option *ngFor = 'let user of admins' [value]="user.name + ' ' + user.surname "  [defaultSelected]="user?.name === logged?.name">{{user.name + ' ' + user.surname}}</option>
          </select>
         </ng-container>
    </div>

      <div class="form-group">
        <label>{{'COMMON.NOTE' | translate}}</label>
        <textarea type="text" class="form-control" placeholder="{{'COMMON.NOTE' | translate}}" formControlName="description"></textarea>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" [disabled]="addMetricRecordFormUninstall.invalid" (click)="addMetricUninstall()">{{'COMMON.ADD' | translate}}</button>
  </div>
</ng-template>

<div hidden="true" id="pdfMetric">
  <h1>{{'PDF.TITLE' | translate}} {{selectedComputer.name}}</h1>

  <ul class="list-group">
    <li class="list-group-item">{{'COMMON.NAME' | translate}}: {{selectedComputer.name}}</li>
    <li class="list-group-item">{{'COMMON.LOCATION' | translate}}: {{selectedComputer.location}}</li>
    <li  class="list-group-item">{{'COMPUTER.ISMULTIUSER' | translate}} {{selectedComputer.isMultiuser ? ("COMMON.TRUE" | translate) : ("COMMON.FALSE" | translate)}}</li>
    <!---<li *ngIf=" this.selectedComputer.isMultiuser" class="list-group-item">{{'COMPUTER.DISP_USERS' | translate}} {{selectedComputer.usersOfComputer}}</li>-->
    <li class="list-group-item">{{'COMMON.KEEPER' | translate}}: {{this.usersS.toString()}}</li>
    <li class="list-group-item">{{'COMMON.NOTE' | translate}}: {{selectedComputer.description}}</li>
  </ul>

  <div class="row top-buffer" style="margin: 0px;">
    <app-table-metrics [licOrComp]='"comp"' [pdfView]=true></app-table-metrics>
  </div>
</div>

