<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="container">
  <div class="row top-buffer">
    <div class = "col leftalign">
      <div class="header">
        <h1 class="title">{{'LICENCE.LIST.TITLE' | translate}}</h1>
      </div>
    </div>
    <div class = "col" align='right'>
      <button *ngIf = "this.tokenStorage.getAuthorities().includes('ROLE_SUPER_ADMIN')" type="button" class="add-btn" (click)="open(content)">{{'LICENCE.LIST.ADD' | translate}}</button>
    </div>
  </div>
  <app-table-licence></app-table-licence>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'LICENCE.LIST.ADD' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addLicenseForm" class="add-license-form">
      <div class="form-group">
        <label>{{'COMMON.NAME' | translate}}: </label>
        <input type="text" class="form-control" placeholder="{{'COMMON.NAME' | translate}}" formControlName="name">
      </div>
      <div class="form-group">
        <label>{{'LICENCE.TYPE' | translate}}: </label>
        <select formControlName = "type" class="form-control">
          <option *ngFor = "let type of types" [value] = type.id>
            {{type.name}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <mat-label>{{'LICENCE.PURCHASE_DATE' | translate}}: </mat-label>
        <input type="date" class="form-control"  formControlName="purchaseDate">
      </div>
      <div class="form-group">
        <mat-label>{{'LICENCE.EXPIRY_DATE' | translate}}: </mat-label>
        <input type="date"  class="form-control" formControlName="expiryDate">
      </div>
      <div class="form-group">
        <label>{{'LICENCE.AVAILABLE_INSTALLATIONS' | translate}}</label>
        <input type="number" [min]="0" class="form-control" placeholder="1" formControlName="availableInstallations">
      </div>
      <div class="form-group">
        <label>{{'LICENCE.KEY' | translate}}</label>
        <input type="text" class="form-control" placeholder="{{'LICENCE.KEY' | translate}}" formControlName="key">
      </div>

        <div class="form-group">
          <input class="form-control-file" type="file" multiple name="profile" (change)="setFile($event)" />
        </div>

      <div class="form-group">
        <label>{{'COMMON.NOTE' | translate}}</label>
        <textarea type="text" class="form-control" placeholder="{{'COMMON.NOTE' | translate}}" formControlName="description"></textarea>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" [disabled]="addLicenseForm.invalid" (click)="addLicense()">{{'COMMON.ADD' | translate}}</button>
  </div>

</ng-template>
