mat-toolbar{
  background-color: #8D2020;
  box-shadow: 5px 5px 20px lightgray;
  height: 50px;
}

.items {
  text-decoration: none;
  color: white;
}

.items-language{
  color: white;
}

.items:hover, .items:active{
  color: lightgray;
}

.items:focus{
  color: lightgray;
}

.title{
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.logo-image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.title{
  text-align:left;
  font-variant: all-small-caps;
  letter-spacing:2px;
  color: white;
}

.add-btn{
  background-color: #8D2020;
  color: white;
  border-radius: 5px;
  height: 15px;
  border: none;
  padding-top: 0;
}

.add-btn:hover, .items:active{
  color: lightgray;
}

.logout-btn{
  height: 35px;
  background-color: rosybrown;
  color: white;
  border-radius: 5px;
  border: none;
}
