<mat-toolbar>
  <div fxHide.gt-sm>
    <button mat-icon-button style="color: white" (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <img src="assets/logo.jpg" class="logo-image">
  <a class="title">
    <div class="header">
      <h1 class="title">{{'HEADER.APP_TITLE' | translate}}</h1>
    </div>
  </a>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.lt-md>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a class="items" *ngIf="tokenStorage.getToken()" routerLink="/licenses">{{'HEADER.LICENCES' | translate}}</a>
      </li>
      <li>
        <a class="items" *ngIf="tokenStorage.getToken()" routerLink="/computers">{{'HEADER.COMPUTERS' | translate}}</a>
      </li>
      <li>
        <a class="items" *ngIf="tokenStorage.getToken()" routerLink="/settings">{{'HEADER.SETTINGS_AND_DICTIONARIES' | translate}}</a>
      </li>
      <li>
        <span class="items-language">{{'HEADER.SELECT_LANGUAGE' | translate}}:
          <button type="button" class="add-btn" (click)="changeLanguage('pl')">
            PL
          </button>
          |
          <button type="button" class="add-btn" (click)="changeLanguage('en')">
            EN
          </button>
        </span>
      </li>
      <li>
        <button class="logout-btn" *ngIf="tokenStorage.getToken()" (click)="tokenStorage.logOut()">{{'LOGIN.LOG-OUT' | translate}}</button>
      </li>
    </ul>
  </div>
</mat-toolbar>
