<h1>Dodaj rekord do metryczki</h1>

<form [formGroup]="addMetricRecordForm" class="add-metric-form">
  <mat-form-field>
    <mat-label>Licencja: </mat-label>
    <mat-select formControlName = "licenseId">
      <mat-option *ngFor = "let licence of licenseList" [value] = licence.id>
        {{licence.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Data instalacji: </mat-label>
    <input matInput formControlName="installDate" type="date">
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Kto zainstalował?: </mat-label>
    <input matInput formControlName="whoInstalled">
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Data odinstalacji: </mat-label>
    <input matInput formControlName="uninstallDate" type="date">
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Kto odinstalował?: </mat-label>
    <input matInput formControlName="whoUninstalled">
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Notatka: </mat-label>
    <textarea matInput formControlName="description">
    </textarea>
  </mat-form-field>
</form>

<button [disabled]="addMetricRecordForm.invalid" (click)="addMetric()">Dodaj</button>
