<div [class.pdf]="pdfView">
  <div *ngIf = "licOrComp === 'comp' else licSearch " class="input-group" style="padding-bottom: 15px" >
    <div class="form-inline" *ngIf="!pdfView">
      <input placeholder="{{'COMMON.SEARCH' | translate}}" (blur)="this.onInit()"  (keyup)="this.searchBy($event)"   type="text" id="form1" class="form-control" />
    </div>
  </div>
  <table class="table table-striped" *ngIf = "licOrComp === 'comp' else lic ">
    <thead>
    <tr>
      <th scope="col" (click)="sortByLicence()" >{{'LICENCE.NAME' | translate}} <img *ngIf="!pdfView" class="sort" src="assets/sorting.png"></th>
      <th scope="col" (click)="sortBy('whoInstalled')" >{{'COMMON.WHO_INSTALLED' | translate}} <img *ngIf="!pdfView" class="sort" src="assets/sorting.png"></th>
      <th scope="col" (click)="sortBy('whoUnistalled')">{{'COMMON.WHO_UNINSTALLED' | translate}} <img *ngIf="!pdfView" class="sort" src="assets/sorting.png"></th>
      <th scope="col" (click)="sortByDate('installDate')">{{'COMMON.INSTALLATION_DATE' | translate}}  <img *ngIf="!pdfView" class="sort" src="assets/sorting.png"></th>
      <th scope="col" (click)="sortByDate('uninstallDate')">{{'COMMON.UNINSTALLATION_DATE' | translate}} <img *ngIf="!pdfView" class="sort" src="assets/sorting.png"></th>
      <th scope="col" (click)="sortBy('whoAgreed')" >{{'COMMON.WHO_AGREED' | translate}} <img *ngIf="!pdfView" class="sort" src="assets/sorting.png"></th>
      <th scope="col" >{{'COMMON.NOTE' | translate}}</th>
      <th scope="col" *ngIf="!pdfView">{{'TABLE.ACTIONS' | translate}}</th>
      <th scope="col"  *ngIf="!pdfView && hide && this.tokenStorage.getAuthorities().includes('ROLE_SUPER_ADMIN')">{{'METRIC.ACTIVATE' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let metric of licenses">
      <td *ngIf="!pdfView"><a href="licenses/{{metric.license?.id}}">{{metric.license?.name}}</a></td>
      <td *ngIf="pdfView">{{metric.license?.name}}</td>
      <td>{{metric.whoInstalled || "-"}}</td>
      <td>{{metric.whoUninstalled || "-"}}</td>
      <td>{{metric.installDate || "-"}}</td>
      <td>{{metric.uninstallDate || "-"}}</td>
      <td>{{metric.whoAgreed || "-"}}</td>
      <td>{{metric.description || "-"}}</td>
      <td *ngIf="!pdfView"><button class="add-btn" (click)="openEditMetricRecordDialog(metric)">{{'COMMON.EDIT' | translate}}</button></td>
      <td *ngIf="!pdfView && hide && this.tokenStorage.getAuthorities().includes('ROLE_SUPER_ADMIN')"><button (click)="accept(metric.id)" class="btn-primary add-btn btn">{{'METRIC.ACTIVATE' | translate}}</button></td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2" *ngIf="!pdfView">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshLicenses()">
    </ngb-pagination>
    <label>
      {{'TABLE.METRICS.HIDE' | translate}}
      <input type="checkbox" [(ngModel)] = "this.hide" (change)="this.filterAwaitingAcceptance()">
      <button style="margin-left: 20px; background-color: #8D2020; color: white" *ngIf = "(tokenStorage.getAuthorities().includes('ROLE_SUPER_ADMIN') || tokenStorage.getAuthorities().length == 2) && this.hide && metricArray.length != 0" class="btn-primary btn" (click)="acceptAll()">  {{'TABLE.METRICS.ACCEPT' | translate}}</button>
    </label>
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshLicenses()">
      <option [ngValue]="5">5 {{'TABLE.ITEMS_PER_PAGE' | translate}}</option>
      <option [ngValue]="10">10 {{'TABLE.ITEMS_PER_PAGE' | translate}}</option>
      <option [ngValue]="15">15 {{'TABLE.ITEMS_PER_PAGE' | translate}}</option>
      <option [ngValue]="20">20 {{'TABLE.ITEMS_PER_PAGE' | translate}}</option>
    </select>
  </div>
</div>

<ng-template #lic>
    <table class="table table-striped w-auto">
      <thead>
      <tr>
        <th scope="col" (click)="sortByComputer()" >{{'TABLE.METRICS.COMP_NAME_AND_LOC' | translate}} <img *ngIf="!pdfView" class="sort" src="assets/sorting.png"></th>
        <th scope="col" (click)="sortBy('whoInstalled')" >{{'COMMON.WHO_INSTALLED' | translate}} <img *ngIf="!pdfView" class="sort" src="assets/sorting.png"></th>
        <th scope="col" (click)="sortBy('whoUninstalled')">{{'COMMON.WHO_UNINSTALLED' | translate}} <img *ngIf="!pdfView" class="sort" src="assets/sorting.png"></th>
        <th scope="col" (click)="sortByDate('installDate')">{{'COMMON.INSTALLATION_DATE' | translate}}  <img *ngIf="!pdfView" class="sort" src="assets/sorting.png"></th>
        <th scope="col" (click)="sortByDate('uninstallDate')">{{'COMMON.UNINSTALLATION_DATE' | translate}} <img *ngIf="!pdfView" class="sort" src="assets/sorting.png"></th>
        <th scope="col" (click)="sortBy('whoAgreed')" >{{'COMMON.WHO_AGREED' | translate}} <img *ngIf="!pdfView" class="sort" src="assets/sorting.png"></th>
        <th scope="col" >{{'COMMON.NOTE' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let metric of licenses">
        <td><a href="/computers/{{metric.computer?.id}}">{{metric.computer?.name}}</a> {{" " + metric.computer?.location}}</td>
        <td>{{metric.whoInstalled || "-"}}</td>
        <td>{{metric.whoUninstalled || "-"}}</td>
        <td>{{metric.installDate || "-"}}</td>
        <td>{{metric.uninstallDate || "-"}}</td>
        <td>{{metric.whoAgreed || "-"}}</td>
        <td>{{metric.description || "-"}}</td>
      </tr>
      </tbody>
    </table>
</ng-template>

<ng-template #licSearch>
  <div class="input-group" style="padding-bottom: 15px" *ngIf="!pdfView">
    <div class="form-inline">
      <input placeholder="Search" (blur)="this.onInit()"  (keyup)="this.searchByForLic($event)"   type="text" id="form2" class="form-control" />
    </div>
  </div>
</ng-template>
