<mat-nav-list>
  <a *ngIf="tokenStorage.getToken()" mat-list-item routerLink="/licenses" (click)="onSidenavClose()">
    <span class="nav-caption">{{'HEADER.LICENCES' | translate}}</span>
  </a>
  <a *ngIf="tokenStorage.getToken()" mat-list-item routerLink="/computers" (click)="onSidenavClose()">
    <span class="nav-caption">{{'HEADER.COMPUTERS' | translate}}</span>
  </a>
  <a *ngIf="tokenStorage.getToken()" mat-list-item routerLink="/settings" (click)="onSidenavClose()">
    <span class="nav-caption">{{'HEADER.SETTINGS_AND_DICTIONARIES' | translate}}</span>
  </a>
  <a mat-list-item (click)="onSidenavClose()">
    <span class="nav-caption">{{'HEADER.SELECT_LANGUAGE' | translate}}
      <button type="button" class="add-btn" (click)="changeLanguage('pl')">
      PL
      </button>
      |
      <button type="button" class="add-btn" (click)="changeLanguage('en')">
      EN
      </button>
    </span>
  </a>
  <a mat-list-item (click)="onSidenavClose()">
    <span class="nav-caption">
     <button class="logout-btn" *ngIf="tokenStorage.getToken()" (click)="tokenStorage.logOut()">{{'LOGIN.LOG-OUT' | translate}}</button>
    </span>
  </a>
</mat-nav-list>
