a{
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

.nav-caption{
  display: inline-block;
  padding-left: 6px;
  color: white;
}

.add-btn{
  background-color: #8D2020;
  color: white;
  border-radius: 5px;
  height: 15px;
  border: none;
  padding-top: 0;
}

.add-btn:hover, .items:active{
  text-decoration: underline;
}

.logout-btn{
  height: 35px;
  background-color: rosybrown;
  color: white;
  border-radius: 5px;
  border: none;
}
