<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="container">
  <div class="row top-buffer">
    <div class = "col leftalign">
      <div class="header">
        <h1 class="title">{{'COMPUTER.LIST.TITLE' | translate}}</h1>
      </div>
    </div>
    <div class = "col" align='right'>
      <button *ngIf="this.tokenStorage.getAuthorities().includes('ROLE_SUPER_ADMIN')" type="button" class="add-btn" (click)="openModal(content)">{{'COMPUTER.LIST.ADD_NEW_COMPUTER' | translate}}</button>
    </div>
  </div>
  <app-table-computers></app-table-computers>
</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'COMPUTER.LIST.ADD_NEW_COMPUTER' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addComputerForm" class="add-license-form">
      <div class="form-group">
        <label>{{'COMMON.NAME' | translate}}: </label>
        <input type="text" class="form-control" placeholder="{{'COMMON.NAME' | translate}}" formControlName="name">
      </div>
      <div>
        <mat-label>{{'COMMON.LOCATION' | translate}}</mat-label>
        <input type="text"  placeholder="{{'COMMON.LOCATION' | translate}}" class="form-control"  formControlName="location">
      </div>
      <div class="form-group">
        <mat-label>{{'COMMON.NOTE' | translate}} </mat-label>
        <textarea type="text" placeholder="{{'COMMON.NOTE' | translate}}" class="form-control" formControlName="description"></textarea>
      </div>
      <div class="form-group">
        <label>{{'COMPUTER.IS_MULTIUSER' | translate}}?
        <input style="padding: 50px" type="checkbox"    formControlName="isMultiuser"></label>
      </div>


    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" [disabled]="addComputerForm.invalid" (click)="addComputer()">{{'COMMON.ADD' | translate}}</button>
  </div>
</ng-template>
