<h1>{{'LICENCE.EDIT' | translate}}</h1>

<form [formGroup]="editLicenseForm" class="edit-license-form">
  <mat-form-field appearance="legacy">
    <mat-label>{{'COMMON.NAME' | translate}}: </mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{'LICENCE.TYPE' | translate}}: </mat-label>
    <mat-select formControlName = "type">
      <mat-option *ngFor = "let type of types" [value] = type.id>
        {{type.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>{{'LICENCE.PURCHASE_DATE' | translate}}: </mat-label>
    <input matInput formControlName="purchaseDate" type="date">
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>{{'LICENCE.EXPIRY_DATE' | translate}}: </mat-label>
    <input matInput formControlName="expiryDate" type="date">
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>{{'LICENCE.AVAILABLE_INSTALLATIONS' | translate}}: </mat-label>
    <input matInput formControlName="availableInstallations">
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>{{'LICENCE.KEY' | translate}}: </mat-label>
    <input matInput formControlName="key">
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>{{'COMMON.NOTE' | translate}}: </mat-label>
    <textarea matInput formControlName="description">
    </textarea>
  </mat-form-field>
</form>

<button class="add-btn" [disabled]="editLicenseForm.invalid" (click)="editLicense()">{{'COMMON.EDIT' | translate}}</button>
