<div class="login">
  <h1 class="login-header">{{'LOGIN.LOGIN-TITLE' | translate}}</h1>

  <form class="login-container" [formGroup]="logInForm">
    <p><input type="email" placeholder="Email" formControlName="email"></p>
    <p><input type="password" placeholder="{{'LOGIN.PASSWORD' | translate}}" formControlName="password">
    <button class="login-btn" [disabled]="logInForm.invalid" (click)="login()">{{'LOGIN.LOG-IN' | translate}}</button>
  </form>
</div>
