<h1>{{'METRIC.EDIT' | translate}}</h1>

<div class="modal-body">
  <form [formGroup]="editMetricRecordForm" class="add-license-form">


    <div class="form-group">
      <label>{{'COMMON.INSTALLATION_DATE' | translate}} </label>
      <input type="date" class="form-control"  formControlName="installDate">
    </div>

    <div class="form-group">
      <label>{{'COMMON.UNINSTALLATION_DATE' | translate}} </label>
      <input type="date" class="form-control"  formControlName="uninstallDate">
    </div>


    <div class="form-group">
      <label>{{'COMMON.WHO_INSTALLED' | translate}}? </label>
      <input type="text" class="form-control" formControlName="whoInstalled">
    </div>

    <div class="form-group">
      <label>{{'COMMON.WHO_UNINSTALLED' | translate}}? </label>
      <input type="text" class="form-control" formControlName="whoUninstalled">
    </div>

    <div class="form-group">
      <label>{{'COMMON.NOTE' | translate}}</label>
      <textarea type="text" class="form-control" placeholder="{{'COMMON.NOTE' | translate}}" formControlName="description"></textarea>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" [disabled]="editMetricRecordForm.invalid" (click)="editMetric()">{{'COMMON.EDIT' | translate}}</button>
</div>
