<h1>{{'COMPUTER.EDIT' | translate}}</h1>

<form [formGroup]="editComputerForm" class="edit-computer-form">
  <mat-form-field appearance="legacy">
    <mat-label>{{'COMMON.LOCATION' | translate}}: </mat-label>
    <input matInput formControlName="location">
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>{{'COMMON.NAME' | translate}}: </mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>{{'COMMON.NOTE' | translate}}: </mat-label>
    <textarea matInput formControlName="description">
    </textarea>
  </mat-form-field>
</form>

<button [disabled]="editComputerForm.invalid" (click)="editComputer()">{{'COMMON.EDIT' | translate}}</button>
