<div>
  <div class="input-group" style="padding-bottom: 15px">
    <div class="form-inline">
      <input  placeholder="{{'COMMON.SEARCH' | translate}}" (blur)="this.onInit()"  (keyup)="this.searchBy($event)"   type="text" id="form1" class="form-control" />

    </div>
  </div>
  <div style="overflow-x:auto;">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" (click)="sortByName()" >{{'COMMON.NAME' | translate}} <img class="sort" src="assets/sorting.png"></th>
        <th scope="col" (click)="sortByType()">{{'LICENCE.TYPE' | translate}} <img class="sort" src="assets/sorting.png"></th>
        <th scope="col" (click)="sortByDate('purchaseDate')">{{'LICENCE.PURCHASE_DATE' | translate}} <img class="sort" src="assets/sorting.png"></th>
        <th scope="col" (click)="sortByActive()">{{'LICENCE.ACTIVE' | translate}} <img class="sort" src="assets/sorting.png"></th>
        <th scope="col">{{'TABLE.ACTIONS' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let license of licenses">
        <th scope="row">{{license.name || "-"}}</th>
        <td>{{license.type?.name || "-"}}</td>
        <td>{{license.purchaseDate || "-"}}</td>
        <td>{{license.active? ("COMMON.TRUE" | translate) :  ("COMMON.FALSE" | translate)}}</td>
        <td><button class = "details-btn" routerLink="/licenses/{{license.id}}">{{'TABLE.DETAILS' | translate}}</button></td>
      </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshLicenses()">
      </ngb-pagination>

      <label>
        {{'TABLE.LICENCES.HIDE' | translate}}
        <input type="checkbox" [(ngModel)] = "this.hide" (change)="this.filterInactive($event)">

      </label>
      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshLicenses()">
        <option [ngValue]="5">5 {{'TABLE.ITEMS_PER_PAGE' | translate}}</option>
        <option [ngValue]="10">10 {{'TABLE.ITEMS_PER_PAGE' | translate}}</option>
        <option [ngValue]="15">15 {{'TABLE.ITEMS_PER_PAGE' | translate}}</option>
        <option [ngValue]="20">20 {{'TABLE.ITEMS_PER_PAGE' | translate}}</option>
      </select>
    </div>
  </div>
</div>
