
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Dodaj nową licencję</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addComputerForm" class="add-license-form">
      <div class="form-group">
        <label>Nazwa: </label>
        <input type="text" class="form-control" placeholder="Nazwa licencji" formControlName="name">
      </div>
      <div>
        <mat-label>Data zakupu: </mat-label>
        <input type="date" class="form-control"  formControlName="location">
      </div>
      <div class="form-group">
        <mat-label>Data wygaśnięcia: </mat-label>
        <input type="date" class="form-control" formControlName="isMultiUser">
      </div>
      <div class="form-group">
        <label>Dostępne instalacje</label>
        <input type="number" class="form-control" placeholder="1" formControlName="availableInstallations">
      </div>
      <div class="form-group">
        <label>Klucz</label>
        <input type="text" class="form-control" placeholder="Klucz" formControlName="key">
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" [disabled]="addComputerForm.invalid" (click)="addComputer()">Dodaj</button>
  </div>
</ng-template>
