<h1>Dodaj nową licencję</h1>

<form [formGroup]="addLicenseForm" class="add-license-form">
  <mat-form-field appearance="legacy">
    <mat-label>Nazwa: </mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Typ licencji: </mat-label>
    <mat-select formControlName = "type">
      <mat-option *ngFor = "let type of types" [value] = type.id>
        {{type.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Data zakupu: </mat-label>
    <input type = "date" matInput formControlName="purchaseDate">
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Data wygaśnięcia: </mat-label>
    <input type = "date" matInput formControlName="expiryDate">
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Dostępne instalacje: </mat-label>
    <input matInput formControlName="availableInstallations">
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Klucz: </mat-label>
    <input matInput formControlName="key">
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Notatka: </mat-label>
    <textarea matInput formControlName="description">
    </textarea>
  </mat-form-field>
</form>

<button class="btn btn-secondary" [disabled]="addLicenseForm.invalid" (click)="addLicense()">Dodaj</button>
