<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="container">
  <div class="row top-buffer">
    <div class = "col leftalign">
      <div class="header">
        <button type="button" class="add-btn" (click)="navigateBack()">←</button>
        <h1 style="text-align:left;font-family:Verdana;font-variant:small-caps;letter-spacing:2px;color:#A40808;">{{'LICENCE.DETAILS.TITLE' | translate}}</h1>
      </div>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item">{{'COMMON.NAME' | translate}}: {{selectedLicense.name}}</li>
        <li class="list-group-item">{{'LICENCE.TYPE' | translate}}: {{selectedLicense.type?.name}}</li>
        <li class="list-group-item">{{'LICENCE.AVAILABLE_INSTALLATIONS' | translate}}: {{selectedLicense.availableInstallations}}</li>
        <li class="list-group-item">{{'LICENCE.PURCHASE_DATE' | translate}}: {{selectedLicense.purchaseDate}}</li>
        <li class="list-group-item">{{'LICENCE.EXPIRY_DATE' | translate}}: {{selectedLicense.expiryDate}}</li>
        <li class="list-group-item">{{'LICENCE.KEY' | translate}}: {{selectedLicense.key}}</li>
        <li class="list-group-item">{{'COMMON.NOTE' | translate}}: {{selectedLicense.description}}</li>
<!--        <li class="list-group-item">{{'COMMON.FILES' | translate}}: -->
<!--          <a href="#" onclick="return false;" class="link" (click)="download(file)" *ngFor=" let file of selectedLicense.files"> {{file.name}}</a> -->
<!--        </li>-->
        <li *ngIf = "this.tokenStorage.getAuthorities().includes('ROLE_SUPER_ADMIN')" class="list-group-item"><button type="button" class="add-btn" (click)="open(content)">{{'COMMON.EDIT' | translate}}</button></li>
        </ul>
    </div>
  </div>
  <div class="row top-buffer">
    <div class = "col leftalign">
      <div class="header">
        <h1 style="text-align:left;font-family:Verdana;font-variant:small-caps;letter-spacing:2px;color:#A40808;">{{'COMMON.METRICS' | translate}}</h1>
      </div>
    </div>
  </div>
  <div class="row top-buffer" style="margin: 0px;">
    <app-table-metrics [licOrComp]="'lic'"></app-table-metrics>
  </div>
</div>

<ng-template #notFound>
  {{'LICENCE.DETAILS.ERROR_LOAD' | translate}}
</ng-template>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'LICENCE.EDIT' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editLicenseForm" class="add-license-form">
      <div class="form-group">
        <label>{{'COMMON.NAME' | translate}}: </label>
        <input type="text" class="form-control"[(ngModel)] = "selectedLicense.name" formControlName="name">
      </div>
      <div class="form-group">
        <label>{{'LICENCE.TYPE' | translate}}: </label>
        <select formControlName = "type" class="form-control">
          <option *ngFor = "let type of types" [value] = type.id>
            {{type.name}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>{{'LICENCE.PURCHASE_DATE' | translate}}: </label>
        <input type="date" [min]="today" class="form-control" [(ngModel)] = "selectedLicense.purchaseDate"  formControlName="purchaseDate">
      </div>
      <div class="form-group">
        <label>{{'LICENCE.EXPIRY_DATE' | translate}}: </label>
        <input type="date"  [min]="today" class="form-control" formControlName="expiryDate">
      </div>
      <div class="form-group">
        <label>{{'LICENCE.AVAILABLE_INSTALLATIONS' | translate}}</label>
        <input type="number" min='0' max="100" [min]="0"   [(ngModel)] = "selectedLicense.availableInstallations" class="form-control"  formControlName="availableInstallations">
      </div>
      <div class="form-group">
        <label>{{'LICENCE.KEY' | translate}}</label>
        <input type="text" class="form-control" [(ngModel)] = "selectedLicense.key"  formControlName="key">
      </div>
      <div class="form-group">
        <input class="form-control-file" type="file" multiple name="profile" (change)="setFile($event)" />
      </div>

      <div class="form-group">
        <label>{{'COMMON.NOTE' | translate}}</label>
        <textarea type="text" class="form-control" [(ngModel)] = "selectedLicense.description" formControlName="description"></textarea>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn add-btn" [disabled]="editLicenseForm.invalid" (click)="editLicense()">{{'COMMON.EDIT' | translate}}</button>
  </div>
</ng-template>

<div hidden="true" id="pdfMetric">
  <h1>{{'PDF.TITLE' | translate}} {{selectedLicense.name}}</h1>

  <ul class="list-group">
    <li class="list-group-item">{{'COMMON.NAME' | translate}}: {{selectedLicense.name}}</li>
    <li class="list-group-item">{{'LICENCE.TYPE' | translate}}: {{selectedLicense.type?.name}}</li>
    <li class="list-group-item">{{'LICENCE.AVAILABLE_INSTALLATIONS' | translate}}: {{selectedLicense.availableInstallations}}</li>
    <li class="list-group-item">{{'LICENCE.PURCHASE_DATE' | translate}}: {{selectedLicense.purchaseDate}}</li>
    <li class="list-group-item">{{'LICENCE.EXPIRY_DATE' | translate}}: {{selectedLicense.expiryDate}}</li>
    <li class="list-group-item">{{'LICENCE.KEY' | translate}}: {{selectedLicense.key}}</li>
    <li class="list-group-item">{{'COMMON.NOTE' | translate}}: {{selectedLicense.description}}</li>
   </ul>

  <div class="row top-buffer" style="margin: 0px;">
    <app-table-metrics [licOrComp]="'lic'" [pdfView]=true></app-table-metrics>
  </div>
</div>
