.col {
    text-align: left;
}
.title{
  text-align: left;
  font-variant: all-small-caps;
  letter-spacing: 2px;
  color: #8D2020;
}
.add-btn{
  background-color: #8D2020;
  color: white;
  border-radius: 5px;
  height: 40px;
  border: none;
}

.link:hover{
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: blue;
}

.link {
  color: blue;
}
