<div>
  <div class="input-group" style="padding-bottom: 15px">
    <div class="form-inline">
      <input placeholder="{{'COMMON.SEARCH' | translate}}" (blur)="this.onInitTable()"  (keyup)="this.searchBy($event)"   type="text" id="form1" class="form-control" />

    </div>
  </div>
  <div style="overflow-x:auto;">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col"  (click)="sortBy('name')">{{'COMMON.NAME' | translate}}  <img class="sort" src="assets/sorting.png"></th>
        <th scope="col" (click)="sortBy('location')" >{{'COMMON.LOCATION' | translate}}  <img class="sort" src="assets/sorting.png"></th>
        <th scope="col">{{'TABLE.ACTIONS' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let computer of computers">
        <th>{{computer.name || "-"}}</th>
        <td>{{computer.location || "-"}}</td>
        <td><button class = "details-btn" routerLink="/computers/{{computer.id}}">{{'TABLE.DETAILS' | translate}}</button></td>
      </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshComputers()">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshComputers()">
        <option [ngValue]="5">5 {{'TABLE.ITEMS_PER_PAGE' | translate}}</option>
        <option [ngValue]="10">10 {{'TABLE.ITEMS_PER_PAGE' | translate}}</option>
        <option [ngValue]="15">15 {{'TABLE.ITEMS_PER_PAGE' | translate}}</option>
        <option [ngValue]="20">20 {{'TABLE.ITEMS_PER_PAGE' | translate}}</option>
      </select>
    </div>
  </div>
</div>
