<div class="container-fluid">
  <div  class="input-group" style="padding-bottom: 15px" >

  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col"  >{{'PERSON.SURNAME' | translate}} </th>
      <th    >{{'PERSON.NAME' | translate}} </th>
      <th >E-mail <img class="sort" src="assets/sorting.png"></th>
      <th     >{{'PERSON.INSTITUTE' | translate}}
      <th>{{'PERSON.ROLE' | translate}}
      <th>{{'PERSON.SWITCH' | translate}}
      <th>{{'PERSON.CHANGE' | translate}}</th>
      <th>{{'PERSON.DELETE' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let metric of licenses; let i = index">
      <td>{{metric.surname}}</td>
      <td>{{metric.name || "-"}}</td>
            <td>{{metric.email || "-"}}</td>
      <td>{{metric.institute?.name || "-"}}</td>
      <td>{{getRoles[i] === true ? 'Administrator'  : ('PERSON.USER' | translate)}}</td>
      <td><button class="btn-primary" (click)="this.switch(metric.id)" class="btn-primary btn">{{'PERSON.SWITCH' | translate}}</button></td>
      <td><button class="btn-primary" (click)="this.changePassword(metric.id,(metric.name+metric.surname))" class="btn-primary btn">{{'PERSON.CHANGE' | translate}}</button></td>
      <td><button class="btn-primary" (click)="this.deleteUser(metric.id)" class="btn-primary btn">{{'PERSON.DELETE' | translate}}</button></td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2" >
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshLicenses()">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshLicenses()">
      <option [ngValue]="5">5 {{'TABLE.ITEMS_PER_PAGE' | translate}}</option>
      <option [ngValue]="10">10 {{'TABLE.ITEMS_PER_PAGE' | translate}}</option>
      <option [ngValue]="15">15 {{'TABLE.ITEMS_PER_PAGE' | translate}}</option>
      <option [ngValue]="20">20 {{'TABLE.ITEMS_PER_PAGE' | translate}}</option>
    </select>
  </div>
</div>

