thead{
  background-color: #d9bfbf;
}
tbody tr:nth-child(even) {
  background: #ECECEC;
}
tbody tr:nth-child(odd) {
  background: #F5F5F5;
}
.details-btn{
  background-color: rosybrown;
  color: white;
  border-radius: 5px;
  height: 30px;
  border: none;
  vertical-align: center;
}
ngb-pagination ::ng-deep a {
  color: black !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
  border-color: #d9bfbf;
  background-color: #d9bfbf;
  font-weight: bold;
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem dimgrey;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem dimgrey;
}

.sort{
  width: 20px;
  height: auto;
  cursor: pointer;
}

.btn-primary{
  background-color: #8D2020;
  color: white;
  border-radius: 5px;
  border: none;
  margin-left: 18px;
}