<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div  class="container-fluid">
  <div class="row py-5">
  <div class="col-xl-3 col-lg-3 col-sm-3 col-3 col-md-3">


        <div class="card" style="display: flex; align-content: center; justify-content: center; width: 18rem; margin-left: 10px;border-radius: 20px">
          <img  class="card-img-top" src="http://4.bp.blogspot.com/-zsbDeAUd8aY/US7F0ta5d9I/AAAAAAAAEKY/UL2AAhHj6J8/s1600/facebook-default-no-profile-pic.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{logged?.name + " " + logged?.surname}}</h5>

          </div>
          <ul style="width: 18rem" class="list-group list-group-flush">
            <li  class="list-group-item item">{{'PERSON.NAME' | translate}} {{logged?.name}}</li>
            <li  class="list-group-item item">{{'PERSON.SURNAME' | translate}} {{logged?.surname}}</li>
            <li  class="list-group-item item">{{'PERSON.INSTITUTE' | translate}} {{logged?.institute?.name}}</li>
            <li  class="list-group-item item">Email: {{logged?.email}}</li>
            <ngb-accordion  [closeOthers]="true" activeIds="ngb-panel-{{0}}">
              <ngb-panel id="static-1" title="{{'PERSON.PASSWORD_CHANGE' | translate}}">
                <ng-template ngbPanelContent>
                  <input placeholder="{{'SETTINGS.PASS' | translate}}" class="form-control" [(ngModel)]="this.newPassword"/>
                  <button style="margin-top: 15px" *ngIf ="this.newPassword.length > 5" (click)="changePass()" class="btn btn-primary">{{'PERSON.PASSWORD_CHANGE' | translate}}</button>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </ul>
        </div>

</div>

  <div class="col-xl-9 col-lg-9 col-sm-9 col-9 col-md-9" >
  <div *ngIf = "this.tokenStorage.getAuthorities().includes('ROLE_SUPER_ADMIN')" >
    <mat-tab-group [selectedIndex]="3" animationDuration="1500ms">
      <mat-tab label="{{'SETTINGS.ADMIN'| translate}} ">
        <form>
          <div class="form-row py-5" style="width: 80%">
            <div class="col">

              <select  (change) ="this.log($event,'a')"  class="form-control">
                <option disabled selected value></option>
                <option  *ngFor = 'let user of users'  [value]="user.id" >{{user.name + " " + user.surname}}</option>
              </select>
            </div>
            <div class="col">
              <select (change)="this.log($event,'c')"   class="form-control">
                <option disabled selected value></option>
                <option  *ngFor = 'let banana of (computers)' [value]="banana.id" >{{banana.name + " "  + banana.location}}</option>
              </select>

            </div>
              <button *ngIf = "this.adminID !== 0 && this.compID !== 0 "  class="btn btn-secondary" (click)="send()" >{{"COMMON.ADD" | translate}}</button>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="{{'SETTINGS.TYPES' | translate}}">
        <div class="container">
          <div class="row top-buffer">
            <div class = "col leftalign">
              <div class="header">
                <h1 class="title">{{'SETTINGS.TYPES' | translate}}</h1>
              </div>
            </div>
          </div>

          <div class="row top-buffer">
            <div class="col">
              <input placeholder="{{'SETTINGS.TYPE_NAME' | translate}}" [(ngModel)] = 'model' id="typeahead-basic" type="text" class="form-control"/>
            </div>
            <div class="col">
              <input maxlength="250"  placeholder="{{'COMMON.NOTE' | translate}}" [(ngModel)] = 'desc' id="typeahead-basic" type="text" class="form-control"/>
            </div>
            <div  class="col leftalign">
              <button *ngIf=" model " (click)="addType()" class="btn btn-primary">{{'COMMON.ADD' | translate}}</button>
            </div>
          </div>
          <div class="container">
          <div *ngFor ='let type of (types$|async)' class="row top-buffer py-3">
            <div class="col">
              <ngb-accordion  [closeOthers]="true" activeIds="ngb-panel-{{0}}">
                <ngb-panel id="static-1" title="{{type.name}}">
                  <ng-template ngbPanelContent>
                    {{type.description}}
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>
          </div>
        </div>
        </div>
      </mat-tab>
      <mat-tab  label="{{'SETTINGS.PRIV' | translate}}">
        <div class="container-fluid" style=" width:100%; display: flex; justify-content: center">
        <div class="form-row py-5" style=" width:100%;" >
          <div class="col">
            <select [(ngModel)] = 'this.email'  (change) ="this.assignEmail($event)"  class="form-control">
              <option *ngFor = 'let banana of notAdmins'   [value]="banana?.email" >{{banana?.name + " "  + banana?.surname}}</option>
            </select>
          </div>
          <div class="col">
            <button (click)="assign()" class="btn btn-primary">{{"COMMON.ADD" | translate}}</button>
          </div>
        </div></div>
      </mat-tab>
      <mat-tab  label="{{'SETTINGS.ALL' | translate}}">
        <div class="container-fluid" style=" width:100%; display: flex; justify-content: center">
          <div class="form-row py-5" style=" width:100%;" >
            <app-user-view></app-user-view>
          </div></div>
      </mat-tab>
      <mat-tab   label="{{'SETTINGS.ADD' | translate}}">
        <div class=" padd offset-2 col-lg-6 col-xl-6 col-md-6 col-6 col-sm-6">
        <form [formGroup]="addUserForm">

          <div class="form-group">
            <label>E-mail</label>
            <input  type="email" formControlName="email" class="form-control" />
          </div>
          <div class="form-group" >
            <label>{{'SETTINGS.PASS' | translate}}</label>
            <input  type="password" formControlName="password" class="form-control" />
          </div>
          <div class="form-group" >
            <label>{{'SETTINGS.NAME' | translate}}</label>
            <input  type="text" formControlName="name" class="form-control" />
          </div>

          <div class="form-group">
            <label>{{'SETTINGS.SURNAME' | translate}}</label>
            <input type="text" formControlName="surname" class="form-control" />
          </div>
          <div class="form-group">
            <label>{{'SETTINGS.INSTITUTE' | translate}}</label>
            <input class="form-control" [readOnly]="true" value=" {{this.institute}}" [value]="this.institute"  />
          </div>



    <div class="modal-footer">
      <button class="btn btn-secondary" [disabled]="addUserForm.invalid" (click)="register()">{{'COMMON.ADD' | translate}}</button>
    </div> </form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
  </div>
  </div>


