.col {
    text-align: left;
}
.list-group-item {
    width: 540px;
}
.title{
  text-align: left;
  font-variant: all-small-caps;
  letter-spacing: 2px;
  color: #8D2020;
}

.item{
  width: auto;
}
.mat-tab-links {
  flex-flow: wrap;
}
.padd{
  margin-top: 30px;
}
.middle{
  display: flex;
  justify-content: center;
}
.btn-primary{
  background-color: #8D2020;
  color: white;
  border-radius: 5px;
  border: none;
  margin-left: 18px;
}
.btn-primary-disabled{
  background-color: #8D2020;
  color: white;
  border-radius: 5px;
  border: none;
}
.btn-secondary {
  background-color: #8D2020;
}